.wow {
  width: 100px;
}


button{
  background-color:grey;   -webkit-border-radius: 28;  -moz-border-radius: 28;  border-radius: 15px; 
font-family: 'Bebas Neue', cursive;  color: #343232;  font-size: 15px;  padding: 15px;}
}

body{
  font-family: 'Bebas Neue', cursive;
}